In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
# here we dont get outcome
(df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]==0).sum()

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [6]:
#or (df==0).sum(axis=0) for counting

In [7]:
df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]=df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0,np.nan)

In [8]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [9]:
df.fillna(value=df.mean(),inplace=True)

In [10]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [11]:
# split data

x=df.iloc[:,:-1]
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10.000000,101.0,76.0,48.00000,180.000000,32.9,0.171,63
764,2.000000,122.0,70.0,27.00000,155.548223,36.8,0.340,27
765,5.000000,121.0,72.0,23.00000,112.000000,26.2,0.245,30
766,1.000000,126.0,60.0,29.15342,155.548223,30.1,0.349,47
767,1.000000,93.0,70.0,31.00000,155.548223,30.4,0.315,23

In [12]:
y=df.iloc[:,-1]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [13]:
# training data(training x and y)

In [14]:
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=42)

In [32]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
464,10.000000,115.0,98.000000,29.15342,155.548223,24.0,1.022,34
223,7.000000,142.0,60.000000,33.00000,190.000000,28.8,0.687,61
393,4.000000,116.0,72.000000,12.00000,87.000000,22.1,0.463,37
766,1.000000,126.0,60.000000,29.15342,155.548223,30.1,0.349,47
570,3.000000,78.0,70.000000,29.15342,155.548223,32.5,0.270,39
...,...,...,...,...,...,...,...,...
71,5.000000,139.0,64.000000,35.00000,140.000000,28.6,0.411,26
106,1.000000,96.0,122.000000,29.15342,155.548223,22.4,0.207,27
270,10.000000,101.0,86.000000,37.00000,155.548223,45.6,1.136,38
435,4.494673,141.0,72.405184,29.15342,155.548223,42.4,0.205,29
102,4.494673,125.0,96.000000,29.15342,155.548223,22.5,0.262,21

In [17]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape # indicating rows and columns

((514, 8), (514,), (254, 8), (254,))

In [18]:
# import model
from sklearn.neighbors import KNeighborsClassifier

In [44]:
model=KNeighborsClassifier(n_neighbors=15)

In [45]:
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=15)

In [46]:
y_predict=model.predict(x_test)

In [47]:
from sklearn.metrics import accuracy_score,recall_score,classification_report,confusion_matrix

In [48]:
accuracy_score(y_test,y_predict)

0.7362204724409449

In [49]:
recall_score(y_test,y_predict)

0.5697674418604651

In [50]:
pd.crosstab(y_test,y_predict)

col_0      0   1
Outcome
0        138  30
1         37  49

In [51]:
confusion_matrix(y_test,y_predict)

array([[138,  30],
       [ 37,  49]], dtype=int64)

In [26]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.76      0.81      0.78       168
           1       0.57      0.50      0.53        86

    accuracy                           0.70       254
   macro avg       0.67      0.65      0.66       254
weighted avg       0.70      0.70      0.70       254